@import "normalize.css";
@import "var.css";
@import "grid.css";
@import "gap.css";
.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.sidebar {
    height: calc(100vh - (100vh * 0.04466666666));
    width: calc(100vw * 0.0641025641);
}
header {
    min-height: calc(100vh * 0.04466666666);
}
nav {
}
.content {
    height: auto;
}
.float-left {
    float: left;
}
table {
    margin: auto;
}
tr {
    width: 14.2857142857%;
}
.container {
    width: calc(100% - (100% * 0.0641025641));
    height: calc(100% - (100% * 0.04466666666));
    float: left;
    background-color: lemonchiffon;
    overflow: hidden;
}
.container:after {
    content: "";
    display: table;
    clear: both;
}
body {
    margin: auto;
    width: 100vw;
    height: 100vh;
}