@import "normalize.css";
@import "var.css";
@import "grid.css";
@import "gap.css";
@import "colors.css";

.sidebar {
    height: calc(100vh - (100vh * 0.04466666666));
    width: calc(100vw * 0.0641025641);
}
header {
    min-height: calc(100vh * 0.04466666666);
}
nav {
}
.content {
    height: auto;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
table {
    margin: auto;
}
tr {
    width: 14.2857142857%;
}
.container {
    width: calc(100% - (100% * 0.0641025641));
    height: calc(100% - (100% * 0.04466666666));
    float: left;
    background-color: lemonchiffon;
    overflow: hidden;
}
.container:after {
    content: "";
    display: table;
    clear: both;
}
body {
    margin: auto;
    width: 100vw;
    height: 100vh;
}

.button__badge {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;
   
    padding: 1px 3px;
    font-size: 10px;
    
    position: absolute; /* Position the badge within the relatively positioned button */
    top: 0;
    right: 0;
}
button {
    border: none;
}
input[type="search"] {
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    border: none;
    padding: none
}
